<hr class="mt-5">
<div class="d-flex flex-column align-items-center justify-content-center col-12 mb-5">
    <div>Les Vielle vignes - CGI exploitant récoltant - SIRET : F19TG89426VG489
    </div>
    <div>06 01 02 03 04 05 - contact@lesviellesvigne.fr</div>
</div>