@import "Bootswatch/materia/variables";

$height-logo-description: 4rem;
$top: 68px;

#nav-left {
  display: inline-block;
  padding-top: 0 !important;
  z-index: 1000;
  top: $top;
  left: 0;
  position: fixed !important;
  background-color: $gray-700;
  max-width: 50px;
  color: white;
  min-height: 94vh;
  transition-duration: 1s ;
  .logo-nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    height: $height-logo-description !important;
  }
}

#nav-left-under {
  display: inline-block;
  padding-top: 0 !important;
  z-index: 999;
  top: $top;
  left: -50px;
  position: fixed !important;
  background-color: rgba($gray-600, 0.5);
  max-width: 100px;
  color: white;
  min-height: 94vh;
  transition-duration: 1s ;
  .description-nav-left {
    display: flex;
    align-items: center;
    padding-left: 0.4rem !important;
    margin: 0 !important;
    height: $height-logo-description !important;
    font-size: 0.8rem;
  }
}

nav {
  display: inline-block;
  position: fixed !important;
  z-index: 1001;
  width: 100%;
  top: 0;
  padding: 0 !important;
  margin: 0 !important;
  height: 68px;
  .navbar-brand {
    transition: 0.3s;
    margin: 0.2rem !important;
    padding: 0.5rem !important;
    border-radius: 25px !important;
    background-color: $gray-800;
    border: 2px solid $gray-600;
    &:hover {
      background-color: $gray-700;
    }
  }
}

