<nav id="nav-left">
    <div class="m-1 text-center logo-nav-left"><i class="fas fa-tachometer-alt fs-4"></i></div>
    <div class="m-1 text-center logo-nav-left"><i class="fas fa-tachometer-alt fs-4"></i></div>
</nav>
<nav id="nav-left-under">
    <div class="description-nav-left">Description</div>
    <div class="description-nav-left">Description</div>
</nav>