{% extends 'error.html.twig' %}

{% block title %}Error{% endblock %}


{% block body %}
    <div id="error" class="d-flex justify-content-center align-items-center">

        <h1>ERROR</h1>
    </div>
{% endblock %}